.git
.venv
venv
**/__pycache__
**/*.pyc
**/*.pyo
**/*.log
**/*.bak
**/*.backup
.env
.env.*
credenciales.env
**/credenciales.env
**/.gmail_address.txt
**/.gmail_app_password.txt
**/.azure_tenant_id.txt
**/.azure_client_id.txt
**/.azure_client_secret.txt
**/.azure_subscription_id.txt
